body {
    background-image: url("bg1.jpg");
    background-size: cover;
    background-position: center;
    text-align: center;
}

h1 {
    font-size: 40px;
    color: red;
}

canvas {
    border-style: ridge;
    border-width: 2px;
    background-color: white;
}

